![alt text](./pageheader_rose2_babies.jpg)

# Data Science in Medicine using Python

### Author: Dr Gusztav Belteki

## 1. Review of homework: slicing and dicing in Python

Subsetting and indexing pandas DataFrames

In [88]:
data

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.00,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.00,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689431,1604669233906,2020-11-06,13:27:13.906,344674,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689432,1604669234031,2020-11-06,13:27:14.031,344674,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.11,0.75,3.1,2.6,18.0,0.02,NaN,NaN,NaN
689433,1604669234906,2020-11-06,13:27:14.906,344675,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689434,1604669235046,2020-11-06,13:27:15.046,344675,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01,0.15,0.75,4.1,2.6,19.0,0.01,NaN,NaN,NaN
689435,1604669235937,2020-11-06,13:27:15.937,344676,0.22,0.22,0.05,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Select the third row only

selection = data
selection

In [ ]:
# Select the "MVe [L/min]" column only"

selection = data
selection

In [ ]:
# Select the "MVe [L/min]" and "MVi [L/min]" columns only

selection = data
selection

In [ ]:
# Select the 'MVe [L/min]' value from the third row

selection = data
selection

In [ ]:
# Select all data during the 1 minute period at 2020-11-03 13:00 

selection = data
selection

In [ ]:
# Select all data between 2020-11-03 13:00 and and 15:00

selection = data.loc
selection

In [ ]:
# Select all data between 2020-11-03 13:00 and and 15:00 and limit it to 
# "MVe [L/min]" and "MVi [L/min]" columns only

selection = data

##  2. End-to-end analysis of tabular (two-dimensional data) using pandas

In [76]:
pd.read_csv?

In [79]:
import os
import pandas as pd

path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip',)
data = pd.read_csv(path)
data

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.00,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.00,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689431,1604669233906,2020-11-06,13:27:13.906,344674,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689432,1604669234031,2020-11-06,13:27:14.031,344674,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.11,0.75,3.1,2.6,18.0,0.02,NaN,NaN,NaN
689433,1604669234906,2020-11-06,13:27:14.906,344675,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689434,1604669235046,2020-11-06,13:27:15.046,344675,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01,0.15,0.75,4.1,2.6,19.0,0.01,NaN,NaN,NaN
689435,1604669235937,2020-11-06,13:27:15.937,344676,0.22,0.22,0.05,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
len(data)

689436

In [64]:
data.shape

(689436, 47)

In [66]:
data.ndim

2

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689436 entries, 0 to 689435
Data columns (total 47 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Time [ms]                        689436 non-null  int64
 1   Date                             689436 non-null  object
 2   Time                             689436 non-null  object
 3   Rel.Time [s]                     689436 non-null  int64
 4   5001|MVe [L/min]                 344633 non-null  float64
 5   5001|MVi [L/min]                 344633 non-null  float64
 6   5001|Cdyn [L/bar]                344073 non-null  float64
 7   5001|R [mbar/L/s]                342099 non-null  float64
 8   5001|MVespon [L/min]             344633 non-null  float64
 9   5001|Rpat [mbar/L/s]             341398 non-null  float64
 10  5001|MVemand [L/min]             344633 non-null  float64
 11  5001|FlowDev [L/min]             344677 non-null  float64
 12  5001|VTmand [mL]                 344567 non-null  float64
 13  5001|r2 [no unit]                344538 non-null  float64
 14  5001|VTispon [mL]                344634 non-null  float64
 15  5001|Pmin [mbar]                 344677 non-null  float64
 16  5001|Pmean [mbar]                344677 non-null  float64
 17  5001|PEEP [mbar]                 344677 non-null  float64
 18  5001|RRmand [1/min]              344677 non-null  float64
 19  5001|PIP [mbar]                  344677 non-null  float64
 20  5001|VTmand [L]                  344567 non-null  float64
 21  5001|VTspon [L]                  344634 non-null  float64
 22  5001|VTemand [mL]                344567 non-null  float64
 23  5001|VTespon [mL]                344634 non-null  float64
 24  5001|VTimand [mL]                344571 non-null  float64
 25  5001|VT [mL]                     344567 non-null  float64
 26  5001|% leak [%]                  344633 non-null  float64
 27  5001|RRspon [1/min]              256267 non-null  float64
 28  5001|% MVspon [%]                344633 non-null  float64
 29  5001|MV [L/min]                  344633 non-null  float64
 30  5001|RRtrig [1/min]              344633 non-null  float64
 31  5001|RR [1/min]                  344633 non-null  float64
 32  5001|I (I:E) [no unit]           344672 non-null  float64
 33  5001|E (I:E) [no unit]           344672 non-null  float64
 34  5001|FiO2 [%]                    344677 non-null  float64
 35  5001|VTspon [mL]                 344633 non-null  float64
 36  5001|E [mbar/L]                  340217 non-null  float64
 37  5001|TC [s]                      344051 non-null  float64
 38  5001|TCe [s]                     344566 non-null  float64
 39  5001|C20/Cdyn [no unit]          339993 non-null  float64
 40  5001|VTe [mL]                    344566 non-null  float64
 41  5001|VTi [mL]                    344570 non-null  float64
 42  5001|EIP [mbar]                  344676 non-null  float64
 43  5001|MVleak [L/min]              344632 non-null  float64
 44  5001|Tispon [s]                  10015 non-null   float64
 45  5001|I:Espon (I-Part) [no unit]  9071 non-null    float64
 46  5001|I:Espon (E-Part) [no unit]  9071 non-null    float64
dtypes: float64(43), int64(2), object(2)
memory usage: 247.2+ MB

In [80]:
data.describe()

,Time [ms],Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],5001|MVemand [L/min],5001|FlowDev [L/min],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
count,6.894360e+05,689436.000000,344633.000000,344633.000000,344073.000000,342099.000000,344633.000000,341398.000000,344633.000000,344677.000000,...,344051.000000,344566.000000,339993.000000,344566.000000,344570.000000,344676.000000,344632.000000,10015.000000,9071.000000,9071.000000
mean,1.604497e+12,172337.580989,0.223555,0.264366,0.245819,274.040235,0.000078,257.375030,0.223284,7.125048,...,0.067510,0.144449,0.717213,3.718690,4.341298,23.860487,0.045116,0.047129,1.018212,7.191357
std,9.949949e+07,99499.484827,0.029445,0.142057,0.171054,165.355264,0.000930,167.911146,0.029531,0.722707,...,0.105278,0.049657,0.359153,0.779251,1.049905,4.350903,0.318332,0.008108,0.224628,1.889433
min,1.604325e+12,0.000000,0.000000,0.000000,0.000000,29.400000,0.000000,15.800000,0.000000,6.400000,...,0.000000,0.010000,0.230000,0.600000,0.600000,1.800000,0.000000,0.040000,1.000000,1.000000
25%,1.604411e+12,86168.000000,0.210000,0.230000,0.210000,162.000000,0.000000,143.000000,0.210000,6.900000,...,0.040000,0.110000,0.570000,3.300000,3.800000,21.000000,0.010000,0.040000,1.000000,7.400000
50%,1.604497e+12,172337.000000,0.230000,0.260000,0.240000,213.000000,0.000000,195.000000,0.230000,7.000000,...,0.050000,0.120000,0.640000,3.800000,4.300000,22.000000,0.020000,0.050000,1.000000,8.000000
75%,1.604583e+12,258506.250000,0.240000,0.280000,0.270000,328.000000,0.000000,311.000000,0.240000,7.200000,...,0.080000,0.160000,0.740000,4.000000,4.800000,25.000000,0.040000,0.050000,1.000000,8.100000
max,1.604669e+12,344676.000000,0.490000,18.600000,57.400000,1000.000000,0.050000,1000.000000,0.490000,31.200000,...,28.900000,0.770000,4.970000,13.800000,143.000000,53.000000,27.600000,0.090000,10.400000,9.500000

In [87]:
data.head(10)

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.2,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.0,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.2,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.0,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.2,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1604324562060,2020-11-02,13:42:42.060,2,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.12,0.66,4.1,3.5,19.0,0.0,NaN,NaN,NaN
6,1604324562888,2020-11-02,13:42:42.888,3,0.2,0.21,0.29,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1604324563028,2020-11-02,13:42:43.028,3,NaN,NaN,NaN,NaN,NaN,NaN,...,0.05,0.19,0.66,5.5,3.8,18.0,0.0,NaN,NaN,NaN
8,1604324563919,2020-11-02,13:42:43.919,4,0.2,0.20,0.40,193.0,0.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1604324564044,2020-11-02,13:42:44.044,4,NaN,NaN,NaN,NaN,NaN,NaN,...,0.06,0.10,0.69,2.6,4.3,16.0,0.0,NaN,NaN,NaN

##### What is the problem with these data

- Indexed by numbers only (uninformative, it should be indexed by date and time)
- Date and time are in separate columnns
- Date and time formats are not appropriate
- Column names are too long and difficult to read
- Lots of `na` values 
- half of every row is empty
- Some columns have barely any informative values
- Some values are not meaningful (e.g. tidal volume should be mL/kg not mL

We will deal with all these issues

In [ ]:
data.info()

In [ ]:
%%time

path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
data = pd.read_csv(path)
data

In [ ]:
%%time

path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
data = pd.read_csv(path, parse_dates = ['Date', 'Time'])
data

In [ ]:
data.info()

In [ ]:
%%time

path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
data = pd.read_csv(path, parse_dates = [['Date', 'Time']])
data

In [ ]:
data.info()

In [ ]:
data = data.set_index('Date_Time')
data

In [ ]:
data.columns

We could just replace it with 

`data.columns = ['...', '...', '...']` 

but that is error prone

In [ ]:
# Welcome to list comprehensions

new_columns_1 = [item for item in data.columns]
print(new_columns_1)

In [ ]:
new_columns_2 = [item[5:] for item in data.columns]
print(new_columns_2)

In [ ]:
new_columns_3 = [item[5:] for item in data.columns if item.startswith('5001')]
print(new_columns_3)

In [ ]:
# The expression to the right of `=` is evaluated firs (before assignment)

new_columns_3 = ['Time [ms]', 'Rel.Time [s]'] + new_columns_3
new_columns_3

In [ ]:
data.columns = new_columns_3
data.head(10)

In [ ]:
data.info()

In [ ]:
# This is called a `hack`
# During `mean`() na values are excluded by default

data = data.resample('1S').mean()
data.head(10)

In [ ]:
data.info()

In [ ]:
# Some columns are almost completely empty and hopeless - drop them

data = data.drop(['Tispon [s]', 'I:Espon (I-Part) [no unit]', 
                  'I:Espon (E-Part) [no unit]'], axis = 1)
data

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
data.isnull().sum()

In [ ]:
# A lot of things are happening here, for example vectorized computation, broadcasting
# We will speak about them during the next session

data.isnull().sum() / len(data) * 100

Now let us save the the modified data

We will export them as serialised binary data  - `pickle`

In [ ]:
import pickle

with open(os.path.join('data', 'data.pickle'), 'wb') as handle:
    pickle.dump(data, handle, protocol=pickle.HIGHEST_PROTOCOL)

We will continue from here