![alt text](./pageheader_rose2_babies.jpg)

# Data Science in Medicine using Python

### Author: Dr Gusztav Belteki

## 1. Precedence of arithmetical operators

In [1]:
# This is a comment. Even when it is in a code cell, it will not be executed

# Addition and subtraction are of equal priority so they will be done sequentially but actually it does not matter. 
# Note the decimal point. Division always returns a floating point number even if the decimal is zero.

10 * 10 / 5, 10 * (10 / 5)

(20.0, 20.0)

In [2]:
type(20), type (20.0)

(int, float)

In [3]:
# Division takes priority over addition - as in maths

(10 + 10) / 10

2.0

In [4]:
# This is integer division

15 // 2

7

In [5]:
# Modulo operator, returning the remainder after the division

15 % 4

3

- `int` returns the ingeters part = always rounding down
- for `round` one can provide the nummber of digits as an argument

In [6]:
int(16.864295), round(16.864295), round(16.864295, 3)

(16, 17, 16.864)

## 2. What is `True` and what is `False` ?

#### Rules

1. True is `True` and False is `False`

In [7]:
True

True

In [8]:
False

False

2. Everything is implicitly either `True` or `False`

In [9]:
bool(42), bool(-42), bool(0)

(True, True, False)

In [10]:
# Empty text evaluates as 'False' any other text as 'True'
# You can you single or double quotation marks but you cannot mix them

bool('Hello'), bool("Hello"), bool(' '), bool('')

(True, True, True, False)

3. `A and B` is True if both A and B are True

In [11]:
True and True,  True and False, False and True, False and False

(True, False, False, False)

Please note that the second argument (the one after `and`) is returned if the first argument is True, otherwise the first argument is returned

4. `A or B` is True if either A or B is True

In [12]:
True or True,  True or False, False or True, False or False

(True, True, True, False)

Please note that the first argument (the one before `or`) is returned if it is True, otherwise the second argument is returned

This can be generalised to everything

In [13]:
# First is True and therefore the second is returned

42 and -42

-42

In [14]:
# First is False and therefore it is returned

'' and 'Hello'

''

In [15]:
# First is True and therefore it is returned

42 or -42

42

In [16]:
# First is False and therefore the second is returned

'' or 'Hello'

'Hello'

`and` takes priority over `or`.

In [17]:
42 or 0 and 'Hello'

42

In [18]:
(42 or 0) and 'Hello'

'Hello'

In [19]:
not 42 or 0 and 'Hello'

0

`not` takes priority over both.

In [20]:
not (42 or 0 and 'Hello')

False

## 3. String methods

In [21]:
B = '''Midway upon the journey of our life I found myself within a forest dark, 
For the straightforward pathway had been lost.'''

print(B)

Midway upon the journey of our life I found myself within a forest dark,
For the straightforward pathway had been lost.

In [22]:
B

'Midway upon the journey of our life I found myself within a forest dark, \nFor the straightforward pathway had been lost.'

In [23]:
# Case sensitive

B.count('m')

1

In [24]:
B.lower()

'midway upon the journey of our life i found myself within a forest dark, \nfor the straightforward pathway had been lost.'

In [25]:
C = B.lower()
C.count('m')

2

In [26]:
# You can chain methods

B.lower().count('m')

2

In [27]:
# Splits a text into a list - introduce 'lists'

B.split(' ')

['Midway',
 'upon',
 'the',
 'journey',
 'of',
 'our',
 'life',
 'I',
 'found',
 'myself',
 'within',
 'a',
 'forest',
 'dark,',
 '\nFor',
 'the',
 'straightforward',
 'pathway',
 'had',
 'been',
 'lost.']

In [28]:
len(B)

120

In [29]:
D = B.split(' ')
len(D)

21

In [30]:
# You can embed methods in each other

len(B.split(' '))

21

Lists all attributes and methods of an object

In [31]:
dir(B)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
B.title()

'Midway Upon The Journey Of Our Life I Found Myself Within A Forest Dark, \nFor The Straightforward Pathway Had Been Lost.'

In [33]:
print(B.title())

Midway Upon The Journey Of Our Life I Found Myself Within A Forest Dark,
For The Straightforward Pathway Had Been Lost.

## 4. How to find files on your computer

![alt text](./file_structure.jpg)

Your current working directory

In [34]:
import os
os.getcwd()

'/Users/guszti/data_science_course'

On Mac: `/.../data_science_course`

On Windows: `C:\...\data_science_course`

##### Relative path from current directory

- For Mac

data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip

OR

./data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip


- For Windows

.\data\CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip


##### Absolute path from the root directory

- For me (Mac) 

/Users/guszti/data_science_course/data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip


- For you (Mac)

/.../data_science_course/data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip

- For you (Windows)

C:\...\data_science_course\data\CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip

In [37]:
# Platform independent file path

# relative path
rel_path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
rel_path

'data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip'

In [40]:
# absolute path for me
abs_path = os.path.join(os.sep, 'guszti', 'data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
abs_path

'/guszti/data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip'

# Absolut path for Windows (hypothetical example)

abs_path = os.path.join('C:', os.sep, 'guszti', 'data', 'CsvLogBase_2020-1102_134238.904_slow_Measurement.csv.zip')
abs_path

## 5. How to read in tabular data

In [44]:
# Modules need to be imported first
import os
import pandas as pd

##### Works on all systems

In [46]:
# Imported by not bound to a variable. We cannot use it later.

path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
pd.read_csv(path)

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.00,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.00,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689431,1604669233906,2020-11-06,13:27:13.906,344674,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689432,1604669234031,2020-11-06,13:27:14.031,344674,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.11,0.75,3.1,2.6,18.0,0.02,NaN,NaN,NaN
689433,1604669234906,2020-11-06,13:27:14.906,344675,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689434,1604669235046,2020-11-06,13:27:15.046,344675,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01,0.15,0.75,4.1,2.6,19.0,0.01,NaN,NaN,NaN
689435,1604669235937,2020-11-06,13:27:15.937,344676,0.22,0.22,0.05,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Analogy

In [56]:
42

42

In [57]:
a = 42

In [58]:
a

42

In [68]:
# Now it is there for later use

path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
data = pd.read_csv(path)

In [69]:
data

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.00,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.00,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689431,1604669233906,2020-11-06,13:27:13.906,344674,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689432,1604669234031,2020-11-06,13:27:14.031,344674,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.11,0.75,3.1,2.6,18.0,0.02,NaN,NaN,NaN
689433,1604669234906,2020-11-06,13:27:14.906,344675,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689434,1604669235046,2020-11-06,13:27:15.046,344675,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01,0.15,0.75,4.1,2.6,19.0,0.01,NaN,NaN,NaN
689435,1604669235937,2020-11-06,13:27:15.937,344676,0.22,0.22,0.05,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
type(data)

pandas.core.frame.DataFrame

- DataFrames have rows (= `records`) and columns (= `fields`)
- The first column is an index column (record identifiers)
- The first first row contains the column names (field names)

In [71]:
data.index

RangeIndex(start=0, stop=689436, step=1)

In [72]:
data.columns

Index(['Time [ms]', 'Date', 'Time', 'Rel.Time [s]', '5001|MVe [L/min]',
       '5001|MVi [L/min]', '5001|Cdyn [L/bar]', '5001|R [mbar/L/s]',
       '5001|MVespon [L/min]', '5001|Rpat [mbar/L/s]', '5001|MVemand [L/min]',
       '5001|FlowDev [L/min]', '5001|VTmand [mL]', '5001|r2 [no unit]',
       '5001|VTispon [mL]', '5001|Pmin [mbar]', '5001|Pmean [mbar]',
       '5001|PEEP [mbar]', '5001|RRmand [1/min]', '5001|PIP [mbar]',
       '5001|VTmand [L]', '5001|VTspon [L]', '5001|VTemand [mL]',
       '5001|VTespon [mL]', '5001|VTimand [mL]', '5001|VT [mL]',
       '5001|% leak [%]', '5001|RRspon [1/min]', '5001|% MVspon [%]',
       '5001|MV [L/min]', '5001|RRtrig [1/min]', '5001|RR [1/min]',
       '5001|I (I:E) [no unit]', '5001|E (I:E) [no unit]', '5001|FiO2 [%]',
       '5001|VTspon [mL]', '5001|E [mbar/L]', '5001|TC [s]', '5001|TCe [s]',
       '5001|C20/Cdyn [no unit]', '5001|VTe [mL]', '5001|VTi [mL]',
       '5001|EIP [mbar]', '5001|MVleak [L/min]', '5001|Tispon [s]',
       '5001|I:Espon (I-Part) [no unit]', '5001|I:Espon (E-Part) [no unit]'],
      dtype='object')

There is only one positional argument, all other arguments are keyword arguments with default value

Notice that lines can be broken inside parentheses.

In [74]:
# Keyword arguments with default values

pd.read_csv?

In [75]:
# Only import the first n rows

path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
data = pd.read_csv(path, nrows = 15)
data

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.0,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.0,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1604324562060,2020-11-02,13:42:42.060,2,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.12,0.66,4.1,3.5,19.0,0.0,NaN,NaN,NaN
6,1604324562888,2020-11-02,13:42:42.888,3,0.20,0.21,0.29,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1604324563028,2020-11-02,13:42:43.028,3,NaN,NaN,NaN,NaN,NaN,NaN,...,0.05,0.19,0.66,5.5,3.8,18.0,0.0,NaN,NaN,NaN
8,1604324563919,2020-11-02,13:42:43.919,4,0.20,0.20,0.40,193.0,0.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1604324564044,2020-11-02,13:42:44.044,4,NaN,NaN,NaN,NaN,NaN,NaN,...,0.06,0.10,0.69,2.6,4.3,16.0,0.0,NaN,NaN,NaN
10,1604324564934,2020-11-02,13:42:44.934,5,0.21,0.20,0.39,193.0,0.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1604324565044,2020-11-02,13:42:45.044,5,NaN,NaN,NaN,NaN,NaN,NaN,...,0.08,0.20,0.69,5.2,4.0,18.0,0.0,NaN,NaN,NaN
12,1604324565903,2020-11-02,13:42:45.903,6,0.21,0.20,0.42,193.0,0.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1604324566028,2020-11-02,13:42:46.028,6,NaN,NaN,NaN,NaN,NaN,NaN,...,0.08,0.12,0.69,2.2,4.3,17.0,0.0,NaN,NaN,NaN
14,1604324566934,2020-11-02,13:42:46.934,7,0.22,0.20,0.30,195.0,0.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1. Only limit columns to the ones you really need

2. Only throw away rows (data points) you really need to drop

In [79]:
path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
columns_to_keep = ['Date', 'Time', 'Rel.Time [s]','5001|MVe [L/min]', '5001|VTmand [mL]',
                   '5001|PIP [mbar]', '5001|RRspon [1/min]']
new_index = ['Rel.Time [s]']

data = pd.read_csv(path, nrows = 100000, usecols = columns_to_keep, index_col = new_index)
data

,Date,Time,5001|MVe [L/min],5001|VTmand [mL],5001|PIP [mbar],5001|RRspon [1/min]
Rel.Time [s],,,,,,
0,2020-11-02,13:42:39.904,0.20,3.4,22.0,0.0
0,2020-11-02,13:42:40.029,NaN,NaN,NaN,NaN
1,2020-11-02,13:42:40.951,0.20,8.2,23.0,0.0
1,2020-11-02,13:42:41.060,NaN,NaN,NaN,NaN
2,2020-11-02,13:42:41.935,0.20,4.1,19.0,0.0
...,...,...,...,...,...,...
49990,2020-11-03,03:35:50.034,NaN,NaN,NaN,NaN
49991,2020-11-03,03:35:50.909,0.24,4.2,32.0,0.0
49991,2020-11-03,03:35:51.050,NaN,NaN,NaN,NaN
49992,2020-11-03,03:35:51.909,0.24,4.0,32.0,0.0
49992,2020-11-03,03:35:52.050,NaN,NaN,NaN,NaN

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 49992
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 100000 non-null  object
 1   Time                 100000 non-null  object
 2   5001|MVe [L/min]     49993 non-null   float64
 3   5001|VTmand [mL]     49992 non-null   float64
 4   5001|PIP [mbar]      49993 non-null   float64
 5   5001|RRspon [1/min]  38115 non-null   float64
dtypes: float64(4), object(2)
memory usage: 5.3+ MB

In [81]:
data.describe()

,5001|MVe [L/min],5001|VTmand [mL],5001|PIP [mbar],5001|RRspon [1/min]
count,49993.000000,49992.000000,49993.000000,38115.000000
mean,0.237720,4.063312,27.231638,0.336114
std,0.024022,0.899444,5.212299,0.920190
min,0.010000,0.600000,3.600000,0.000000
25%,0.220000,3.500000,22.000000,0.000000
50%,0.240000,4.100000,28.000000,0.000000
75%,0.250000,4.300000,32.000000,0.000000
max,0.350000,31.200000,42.000000,9.000000

## 6. Homework

#### Slicing and dicing in Python

In [82]:
# List of strings

lst = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
       'November', 'December']

lst

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [83]:
# Indexing is zero based

lst[0:4]

['January', 'February', 'March', 'April']

##### So - write the input to generate the output

`['March', 'April', 'May']`

In [84]:
lst[]

SyntaxError: invalid syntax (<ipython-input-84-e26c11592379>, line 1)

`['May', 'June', 'July', 'August']`

In [85]:
lst[]

SyntaxError: invalid syntax (<ipython-input-85-e26c11592379>, line 1)

`['July', 'August', 'September', 'October', 'November', 'December']`

In [ ]:
lst[]

`['January', 'March', 'May', 'July', 'September']`

In [ ]:
lst[]

`['March', 'April', 'May']`

`['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']`

In [ ]:
lst[]

`['April', 'June', 'August', 'October']`

In [ ]:
lst[]

`['December', 'November', 'October', 'September', 'August']`

In [ ]:
lst[]

`['November', 'September', 'July', 'May']`

In [ ]:
lst[]

`['December',
 'November',
 'October',
 'September',
 'August',
 'July',
 'June',
 'May',
 'April',
 'March',
 'February',
 'January']`

In [ ]:
lst[]