![alt text](./pageheader_rose2_babies.jpg)

# Data Science in Medicine using Python

### Author: Dr Gusztav Belteki

## 1. Let us see your homework

Try to guess what will these expressions return before pressing `SHIFT-Enter`

Some of these points were not discussed. You may need to look it up on the Internet.

In [6]:
# Multiplication and division are of equal priority so they will be done sequentially
# Note the decimal point. Division always returns a floating point number

10 * 10 / 10

10.0

In [8]:
# Division takes priority over addition - as in maths

(10 + 10) / 10

2.0

In [9]:
# This is integer division

15 // 2

7

In [11]:
# Modulo operator, returning the remainder after the division

15 % 4

3

Discuss what booleans return

In [12]:
True and True

True

In [13]:
True and False

False

In [18]:
True or False

True

In [15]:
True or False

True

In [16]:
False or False

False

In [21]:
# In boolean operations, numeric values are implicitly evaluated a boolean. All numbers except zero are 'True'
# During 'or' the first value is returned if it is True otherwise the second value

'' or 0

0

In [28]:
# In 'and' operations, the second value is returned if the first is true, otherwise the first value is returned.

1 and 0

0

In [29]:
# Zero is evaluated as False

0 and 2

0

In [30]:
0 or 2

2

In [33]:
# 'and' takes priority over 'or'. 'not' takes priority over both.

0 or 1 and 0

0

In [34]:
# Empty text evaluates as 'False' any other text as 'True'
# You can you single or double quotation marks but you cannot mix them

'' or 'hello'

'hello'

In [35]:
# This is not an empty string but a single space character

' ' or hello

' '

In [38]:
" " or 'hello'

' '

Why are these different?

In [ ]:
fn()

In [41]:
# 'int' returns the ingeters part = always rounding down
# for round you can provide the nummber of digits as an argument

int(16.864295), round(16.864295, )

(16, 16.864295)

What will be the output ?

In [45]:
'Midway upon the journey of our life I found myself within a forest dark, For the straightforward pathway had been lost.'

'Midway upon the journey of our life I found myself within a forest dark, For the straightforward pathway had been lost.'

In [46]:
B = 'Midway upon the journey of our life I found myself within a forest dark, For the straightforward pathway had been lost.'

In [47]:
B

'Midway upon the journey of our life I found myself within a forest dark, For the straightforward pathway had been lost.'

In [48]:
# Case sensitive

B.count('m')

1

In [50]:
B.lower()

'midway upon the journey of our life i found myself within a forest dark, for the straightforward pathway had been lost.'

In [49]:
# You can chain methods

B.lower().count('m')

2

In [51]:
# Splits a text into a list - introduce 'lists'

B.split(' ')

['Midway',
 'upon',
 'the',
 'journey',
 'of',
 'our',
 'life',
 'I',
 'found',
 'myself',
 'within',
 'a',
 'forest',
 'dark,',
 'For',
 'the',
 'straightforward',
 'pathway',
 'had',
 'been',
 'lost.']

In [52]:
len(B)

119

In [53]:
len(B.split(' '))

21

Finally: what the heck is this

In [54]:
# Lists all attributes and methods of an object

dir(B)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [56]:
B.title()

'Midway Upon The Journey Of Our Life I Found Myself Within A Forest Dark, For The Straightforward Pathway Had Been Lost.'

## 2. Type of medical data

1.  Tabular data
    - Obtained from sensors of medical devices, monitors etc.
    - Typically retrieved as csv or other text format 
    - Usually two-dimensional
    - Usually time series data
    
    ![alt text](./data/tabular_data.jpg)
    
_____


2.  Image data
    - Obtained from imaging medical devices
    - Usually as raster images (jpg,png, tiff etc file format, different compression methods)
    - At least 3-dimensional, but frequently 4 or 5 dimensional
   
   
  
  ![alt text](./data/newborn_brain_image.jpg)
  
_____  


  3. Medical free text
    - From electronic medical notes or from medical knowledge databases (e.g., PubMed)
    - Typically retrieved as text (.txt) files
    - Unstructured
    - Can be time series
    
    
   ![alt text](./data/medical_freetext.jpg)

## 3. How to read in tabular data

In [60]:
# Modules need to be imported first
import pandas as pd

##### On Mac / Linux

In [63]:
'hello wordld'.split()

['hello', 'wordl']

In [64]:
len('hello world')

11

In [62]:
# Imported by not bound to a variable. We cannot use it later.

pd.read_csv("data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip")

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.00,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.00,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689431,1604669233906,2020-11-06,13:27:13.906,344674,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689432,1604669234031,2020-11-06,13:27:14.031,344674,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.11,0.75,3.1,2.6,18.0,0.02,NaN,NaN,NaN
689433,1604669234906,2020-11-06,13:27:14.906,344675,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689434,1604669235046,2020-11-06,13:27:15.046,344675,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01,0.15,0.75,4.1,2.6,19.0,0.01,NaN,NaN,NaN
689435,1604669235937,2020-11-06,13:27:15.937,344676,0.22,0.22,0.05,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 
 - Compare this with other expressions

##### On windows

# Imported by not bound to a variable. We cannot use it later.

pd.read_csv(r'\data\CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')

##### Works on all systems

In [70]:
# Imported by not bound to a variable. We cannot use it later.

import os
os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')

'data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip'

In [87]:
# Imported by not bound to a variable. We cannot use it later.

import os
pd.read_csv(os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip'))

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.00,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.00,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689431,1604669233906,2020-11-06,13:27:13.906,344674,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689432,1604669234031,2020-11-06,13:27:14.031,344674,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.11,0.75,3.1,2.6,18.0,0.02,NaN,NaN,NaN
689433,1604669234906,2020-11-06,13:27:14.906,344675,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689434,1604669235046,2020-11-06,13:27:15.046,344675,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01,0.15,0.75,4.1,2.6,19.0,0.01,NaN,NaN,NaN
689435,1604669235937,2020-11-06,13:27:15.937,344676,0.22,0.22,0.05,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
a = 2

In [89]:
# Now it is there for later use

import os
data = pd.read_csv(os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip'))

In [91]:
data

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.00,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.00,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689431,1604669233906,2020-11-06,13:27:13.906,344674,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689432,1604669234031,2020-11-06,13:27:14.031,344674,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.11,0.75,3.1,2.6,18.0,0.02,NaN,NaN,NaN
689433,1604669234906,2020-11-06,13:27:14.906,344675,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689434,1604669235046,2020-11-06,13:27:15.046,344675,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01,0.15,0.75,4.1,2.6,19.0,0.01,NaN,NaN,NaN
689435,1604669235937,2020-11-06,13:27:15.937,344676,0.22,0.22,0.05,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Compare this with other assigment statements

In [92]:
data = pd.read_csv(os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip'))

In [94]:
path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
data = pd.read_csv(path, nrows = 15)
data

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.0,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.0,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1604324562060,2020-11-02,13:42:42.060,2,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.12,0.66,4.1,3.5,19.0,0.0,NaN,NaN,NaN
6,1604324562888,2020-11-02,13:42:42.888,3,0.20,0.21,0.29,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1604324563028,2020-11-02,13:42:43.028,3,NaN,NaN,NaN,NaN,NaN,NaN,...,0.05,0.19,0.66,5.5,3.8,18.0,0.0,NaN,NaN,NaN
8,1604324563919,2020-11-02,13:42:43.919,4,0.20,0.20,0.40,193.0,0.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1604324564044,2020-11-02,13:42:44.044,4,NaN,NaN,NaN,NaN,NaN,NaN,...,0.06,0.10,0.69,2.6,4.3,16.0,0.0,NaN,NaN,NaN
10,1604324564934,2020-11-02,13:42:44.934,5,0.21,0.20,0.39,193.0,0.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1604324565044,2020-11-02,13:42:45.044,5,NaN,NaN,NaN,NaN,NaN,NaN,...,0.08,0.20,0.69,5.2,4.0,18.0,0.0,NaN,NaN,NaN
12,1604324565903,2020-11-02,13:42:45.903,6,0.21,0.20,0.42,193.0,0.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1604324566028,2020-11-02,13:42:46.028,6,NaN,NaN,NaN,NaN,NaN,NaN,...,0.08,0.12,0.69,2.2,4.3,17.0,0.0,NaN,NaN,NaN
14,1604324566934,2020-11-02,13:42:46.934,7,0.22,0.20,0.30,195.0,0.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
data = pd.read_csv(os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip'), nrows=100000)

In [86]:
pd.read_csv?

In [96]:
a = 'Hello'

In [97]:
a.lower()

'hello'

##### `HOMEWORK` : How to import using the absolute filepath

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 47 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Time [ms]                        100000 non-null  int64
 1   Date                             100000 non-null  object
 2   Time                             100000 non-null  object
 3   Rel.Time [s]                     100000 non-null  int64
 4   5001|MVe [L/min]                 49993 non-null   float64
 5   5001|MVi [L/min]                 49993 non-null   float64
 6   5001|Cdyn [L/bar]                49880 non-null   float64
 7   5001|R [mbar/L/s]                49809 non-null   float64
 8   5001|MVespon [L/min]             49993 non-null   float64
 9   5001|Rpat [mbar/L/s]             49742 non-null   float64
 10  5001|MVemand [L/min]             49993 non-null   float64
 11  5001|FlowDev [L/min]             49993 non-null   float64
 12  5001|VTmand [mL]                 49992 non-null   float64
 13  5001|r2 [no unit]                49993 non-null   float64
 14  5001|VTispon [mL]                49993 non-null   float64
 15  5001|Pmin [mbar]                 49993 non-null   float64
 16  5001|Pmean [mbar]                49993 non-null   float64
 17  5001|PEEP [mbar]                 49993 non-null   float64
 18  5001|RRmand [1/min]              49993 non-null   float64
 19  5001|PIP [mbar]                  49993 non-null   float64
 20  5001|VTmand [L]                  49992 non-null   float64
 21  5001|VTspon [L]                  49993 non-null   float64
 22  5001|VTemand [mL]                49992 non-null   float64
 23  5001|VTespon [mL]                49993 non-null   float64
 24  5001|VTimand [mL]                49991 non-null   float64
 25  5001|VT [mL]                     49992 non-null   float64
 26  5001|% leak [%]                  49993 non-null   float64
 27  5001|RRspon [1/min]              38115 non-null   float64
 28  5001|% MVspon [%]                49993 non-null   float64
 29  5001|MV [L/min]                  49993 non-null   float64
 30  5001|RRtrig [1/min]              49993 non-null   float64
 31  5001|RR [1/min]                  49993 non-null   float64
 32  5001|I (I:E) [no unit]           49993 non-null   float64
 33  5001|E (I:E) [no unit]           49993 non-null   float64
 34  5001|FiO2 [%]                    49993 non-null   float64
 35  5001|VTspon [mL]                 49993 non-null   float64
 36  5001|E [mbar/L]                  48809 non-null   float64
 37  5001|TC [s]                      49870 non-null   float64
 38  5001|TCe [s]                     49992 non-null   float64
 39  5001|C20/Cdyn [no unit]          49568 non-null   float64
 40  5001|VTe [mL]                    49992 non-null   float64
 41  5001|VTi [mL]                    49991 non-null   float64
 42  5001|EIP [mbar]                  49993 non-null   float64
 43  5001|MVleak [L/min]              49993 non-null   float64
 44  5001|Tispon [s]                  2486 non-null    float64
 45  5001|I:Espon (I-Part) [no unit]  2255 non-null    float64
 46  5001|I:Espon (E-Part) [no unit]  2255 non-null    float64
dtypes: float64(43), int64(2), object(2)
memory usage: 35.9+ MB

In [78]:
pd.read_csv?

There is only one positional argument, all other arguments are keyword arguments with default value

Notice that lines can be broken inside parentheses.

In [104]:
pd.read_csv?

In [103]:
path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
data = pd.read_csv(path, # You can break the lines when there are parentheses
                   usecols = ['Date', 'Time', 'Rel.Time [s]','5001|MVe [L/min]', '5001|VTmand [mL]', '5001|PIP [mbar]', '5001|RRspon [1/min]'],
                   index_col = ['Rel.Time [s]'])
data

,Date,Time,5001|MVe [L/min],5001|VTmand [mL],5001|PIP [mbar],5001|RRspon [1/min]
Rel.Time [s],,,,,,
0,2020-11-02,13:42:39.904,0.20,3.4,22.0,0.0
0,2020-11-02,13:42:40.029,NaN,NaN,NaN,NaN
1,2020-11-02,13:42:40.951,0.20,8.2,23.0,0.0
1,2020-11-02,13:42:41.060,NaN,NaN,NaN,NaN
2,2020-11-02,13:42:41.935,0.20,4.1,19.0,0.0
...,...,...,...,...,...,...
344674,2020-11-06,13:27:13.906,0.22,3.1,19.0,0.0
344674,2020-11-06,13:27:14.031,NaN,NaN,NaN,NaN
344675,2020-11-06,13:27:14.906,0.22,4.2,18.0,0.0
344675,2020-11-06,13:27:15.046,NaN,NaN,NaN,NaN
344676,2020-11-06,13:27:15.937,0.22,0.9,18.0,0.0

1. Only limit columns to the ones you really need

2. Only throw away rows (data points) you really need to drop

In [ ]:
path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
columns_to_keep = ['Date', 'Time', 'Rel.Time [s]','5001|MVe [L/min]', '5001|VTmand [mL]', '5001|PIP [mbar]', '5001|RRspon [1/min]']
data = pd.read_csv(path, usecols = columns_to_keep, index_col = ['Rel.Time [s]'])
data

In [ ]:
data.info()

In [107]:
path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
columns_to_keep = ['Date', 'Time', 'Rel.Time [s]','5001|MVe [L/min]', '5001|VTmand [mL]', '5001|PIP [mbar]', '5001|RRspon [1/min]']
data = pd.read_csv(path, usecols = columns_to_keep, index_col = ['Rel.Time [s]'],
                   parse_dates = [[0,1]])
data

,Date_Time,5001|MVe [L/min],5001|VTmand [mL],5001|PIP [mbar],5001|RRspon [1/min]
Rel.Time [s],,,,,
0,2020-11-02 13:42:39.904,0.20,3.4,22.0,0.0
0,2020-11-02 13:42:40.029,NaN,NaN,NaN,NaN
1,2020-11-02 13:42:40.951,0.20,8.2,23.0,0.0
1,2020-11-02 13:42:41.060,NaN,NaN,NaN,NaN
2,2020-11-02 13:42:41.935,0.20,4.1,19.0,0.0
...,...,...,...,...,...
344674,2020-11-06 13:27:13.906,0.22,3.1,19.0,0.0
344674,2020-11-06 13:27:14.031,NaN,NaN,NaN,NaN
344675,2020-11-06 13:27:14.906,0.22,4.2,18.0,0.0
344675,2020-11-06 13:27:15.046,NaN,NaN,NaN,NaN
344676,2020-11-06 13:27:15.937,0.22,0.9,18.0,0.0

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 689436 entries, 0 to 344676
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date_Time            689436 non-null  datetime64[ns]
 1   5001|MVe [L/min]     344633 non-null  float64
 2   5001|VTmand [mL]     344567 non-null  float64
 3   5001|PIP [mbar]      344677 non-null  float64
 4   5001|RRspon [1/min]  256267 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 31.6 MB

Repating code is ugly and sourse of error

In [113]:
path = os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')
columns_to_keep = ['Date', 'Time', 'Rel.Time [s]','5001|MVe [L/min]', '5001|VTmand [mL]', '5001|PIP [mbar]', '5001|RRspon [1/min]']
data = pd.read_csv(path, usecols = columns_to_keep, index_col = ['Rel.Time [s]'],
                   parse_dates =[[0,1]])
data = data.reset_index()
data = data.set_index(['Date_Time'])
data

,Rel.Time [s],5001|MVe [L/min],5001|VTmand [mL],5001|PIP [mbar],5001|RRspon [1/min]
Date_Time,,,,,
2020-11-02 13:42:39.904,0,0.20,3.4,22.0,0.0
2020-11-02 13:42:40.029,0,NaN,NaN,NaN,NaN
2020-11-02 13:42:40.951,1,0.20,8.2,23.0,0.0
2020-11-02 13:42:41.060,1,NaN,NaN,NaN,NaN
2020-11-02 13:42:41.935,2,0.20,4.1,19.0,0.0
...,...,...,...,...,...
2020-11-06 13:27:13.906,344674,0.22,3.1,19.0,0.0
2020-11-06 13:27:14.031,344674,NaN,NaN,NaN,NaN
2020-11-06 13:27:14.906,344675,0.22,4.2,18.0,0.0
2020-11-06 13:27:15.046,344675,NaN,NaN,NaN,NaN
2020-11-06 13:27:15.937,344676,0.22,0.9,18.0,0.0

In [114]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 689436 entries, 2020-11-02 13:42:39.904000 to 2020-11-06 13:27:15.937000
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Rel.Time [s]         689436 non-null  int64
 1   5001|MVe [L/min]     344633 non-null  float64
 2   5001|VTmand [mL]     344567 non-null  float64
 3   5001|PIP [mbar]      344677 non-null  float64
 4   5001|RRspon [1/min]  256267 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 31.6 MB

In [115]:
pd.read_csv?

## 4 Data structures in Python

Store some data (from nothing to the whole universe)

All data structures are `objects` but not objects are data structures 

Evaluating them return the data is some format:

In [ ]:
a = 'Hello World'
a

In [ ]:
b = 42
b

In [ ]:
data

`print()` usually but not always results in a nicer format

In [ ]:
print(a)

In [ ]:
print(b)

In [ ]:
print(data)

They have different types

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
type(data)

Built-in functions work differently on different data structures

In [ ]:
# This is obvious

len(a)

In [ ]:
# This will produce an error which is perhaps unexpected

len(b)

In [ ]:
# This is by no means obvious

len(data)

They also have different methods associated with them

#### Methods for text strings

In [ ]:
dir(a)

In [ ]:
a.upper()

In [ ]:
# Counting and indexing in Python starts from zero

a.find('o')

In [ ]:
a.index('o')

In [ ]:
a.count('o')

In [ ]:
a.startswith('H'), a.startswith('h')

In [ ]:
a.isnumeric()

In [ ]:
a.rjust(30)

#### Methods for integer numbers

In [ ]:
dir(b)

In [ ]:
b.bit_length()

In [ ]:
b, b.__add__(2)

In [ ]:
c = -42
c.__abs__()

In [ ]:
abs(c)

#### Methods for complex data structures (pandas DataFrames)

In [ ]:
dir(data)

In [ ]:
len(dir(data))

In [ ]:
data

In [ ]:
data.mean()

In [ ]:
data.isnull()

In [ ]:
data.isnull().sum()

In [ ]:
%%time
data.plot()

#### `HOMEWORK` : Exploratory data analysis

## 5. Reading in images

In [ ]:
# importing matplotlib module 
import matplotlib.image as mpimg 

img = mpimg.imread('data/newborn_heart_image.jpg')

In [ ]:
img.ndim

In [ ]:
img.shape

In [ ]:
369 * 636 * 3

In [ ]:
img.flatten()

In [ ]:
len(img.flatten())

In [ ]:
print(set(img.flatten()))

In [ ]:
img[:, :, 1]

In [ ]:
img[:, :, 2]

In [ ]:
img[1, :, :]

In [ ]:
# Output Image

# importing matplotlib module 
import matplotlib.pyplot as plt 

plt.imshow(img)

## 6. Reading in text data

In [ ]:
f_handle = open('data/karamazov_brothers.txt', 'r')
text = f_handle.read()
f_handle.close()

In [ ]:
len(text)

In [ ]:
text

In [ ]:
text[:10000]

In [ ]:
print(text[:10000])

In [ ]:
print(text[5016:10000])

## 7. Homework

##### Get tabular data and import and play around with it

#### Absolute and relative file paths

In [74]:
# Relative path:

pd.read_csv('data/data_new/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.00,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.00,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689431,1604669233906,2020-11-06,13:27:13.906,344674,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689432,1604669234031,2020-11-06,13:27:14.031,344674,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.11,0.75,3.1,2.6,18.0,0.02,NaN,NaN,NaN
689433,1604669234906,2020-11-06,13:27:14.906,344675,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689434,1604669235046,2020-11-06,13:27:15.046,344675,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01,0.15,0.75,4.1,2.6,19.0,0.01,NaN,NaN,NaN
689435,1604669235937,2020-11-06,13:27:15.937,344676,0.22,0.22,0.05,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.read_csv(os.path.join('data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip'))

In [ ]:
'D:\dddldd\ddddd\vfvff\'

In [76]:
# My absolute path:

pd.read_csv('/Users/guszti/data_science_course/data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.00,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.00,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689431,1604669233906,2020-11-06,13:27:13.906,344674,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689432,1604669234031,2020-11-06,13:27:14.031,344674,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.11,0.75,3.1,2.6,18.0,0.02,NaN,NaN,NaN
689433,1604669234906,2020-11-06,13:27:14.906,344675,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689434,1604669235046,2020-11-06,13:27:15.046,344675,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01,0.15,0.75,4.1,2.6,19.0,0.01,NaN,NaN,NaN
689435,1604669235937,2020-11-06,13:27:15.937,344676,0.22,0.22,0.05,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.read_csv(os.path.join('/Users', 'guszti', 'data_science_course', 'data',
                         'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip'))

In [ ]:
# Why is this working ?

pd.read_csv(os.path.join('.','data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip'))

In [ ]:
# And why is this working ?

pd.read_csv(os.path.join('..', 'data_science_course', 'data', 'CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip'))

### Slicing and dicing in Python

In [118]:
# List of strings

lst = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
       'November', 'December']

lst

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [121]:
# Indexing is zero based

lst[0:4]

['January', 'February', 'March', 'April']

##### So - write the input to generate the output

`['March', 'April', 'May']`

In [ ]:
lst[]

`['May', 'June', 'July', 'August']`

In [ ]:
lst[]

`['July', 'August', 'September', 'October', 'November', 'December']`

In [ ]:
lst[]

`['January', 'March', 'May', 'July', 'September']`

In [ ]:
lst[]

`['March', 'April', 'May']`

`['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']`

In [ ]:
lst[]

`['April', 'June', 'August', 'October']`

In [ ]:
lst[]

`['December', 'November', 'October', 'September', 'August']`

In [ ]:
lst[]

`['November', 'September', 'July', 'May']`

In [ ]:
lst[]

`['December',
 'November',
 'October',
 'September',
 'August',
 'July',
 'June',
 'May',
 'April',
 'March',
 'February',
 'January']`

In [ ]:
lst[]